.navbar-brand {
    display: flex;
    align-items: center;
    padding: 1rem 0 1rem;
    color: currentColor;
    text-decoration: none;
}

.navbar-brand img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.navbar-brand-horizontal {
    height: 58px;
}

.navbar-brand-vertical {
    height: 58px;
}

.navbar-brand-square {
    width: 58px;
}