.titulo_text_PIS {
    font-weight: 1000;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
}

.titulo_text_Blog {
    font-style: italic;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 46px;
}