/* Estilos personalizados para el componente b-header */
b-header {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
}

b-menu {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
}


b-content {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
}


/* Estilos personalizados para el componente b-footer */
b-footer {
    display: block;
    background-color: var(--bg-color);
    color: var(--text-color);
}
  